langchain 
openai 
faiss-cpu 
unstructured==0.15.10 
unstructured_inference==0.7.36 
sqlalchemy 
langchain-community 
psycopg2 
pdfminer.six 
pi-heif 
unstructured.pytesseract 
python-poppler 
poppler-utils 
langchain-openai 
trustcall 
langsmith 
langchain-core 
paddlepaddle 
unstructured-paddleocr
gradio